
h1 {
  color:black;
  font-size: 15px;
  text-align: right;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: fantasy;
}

h3 {
  color: white;
  font-size: 15px;
  text-align: left;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: fantasy;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}

li a:hover {
    background-color: #808080;
}

body {
  background-image: url("watercolor-tulips-r.jpg");
  background-size: cover;
  background-attachment: scroll;
}



  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position:inherit;
    top:250px;
    bottom:100px;
    max-width: 50%;
    max-height: 50%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 47%;
    padding: 15px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 120px;
    font-size: 10px;
    padding: 5px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

p {
  font-size: 8px;
}
